*
{
	font-size: 12px;
	overflow: hidden;
	box-sizing: border-box;
}

html
{
	overflow: hidden !important;
}

body
{
	width: 640px;
	height: 420px;
	margin: 0px;
	font-family: "微软雅黑";
}

textarea
{
	resize: none;
}

.box
{
	margin: 24px 24px 40px 24px;
}

.row
{
	margin-top: 6px;
	margin-bottom: 3px;
}

.container
{
	text-align: center;
}

#content
{
	width: 524px;
	height: 80px;
	border: 1px solid #bababa;
}

.float
{
	float: right;
	padding-right: 16px;
}

.preview
{
	width: 524px;
	display: inline-block;
	text-align: center;
	height: 153px;
}

#warning
{
	color: #ff3300;
}

#dropdown
{
	border: 1px solid #bababa;
	width: 180px;
	height: 23px;
}

#result
{
	padding-top: 20px;
	position: relative;
	left: -16px;
}

.label
{
	text-align: right;
	display: inline-block;
	vertical-align: top;
	width: 48px;
}

.label-mid
{
	line-height: 24px;
}

.gray
{
	color: #aaa;
}

.usage
{
	width: 20em;
	text-align: left;
	padding-left: 1em;
}

.btn
{
	display: inline-block;
	font-size: 14px;
	line-height: 28px;
	color: #424242;
	height: 30px;
	width: 90px;
	border: 1px solid #bbb;
	cursor: default;
	border-radius: 2px;
	margin-left: 10px;
}

.btn:hover
{
	border: 1px solid #808080;
	background: #f4f4f4;
}

.btn:active
{
	border: 1px solid #808080;
	background: #e6e6e6;
}

.btn.disabled
{
	border: 1px solid #dddddd !important;
	background: #dddddd !important;
	color: #fff !important;
}

#log
{
	margin-left: 4.5em;
}

.log-info
{
	color: #d0a35d;
}

.log-error
{
	color: #dc4a3b;
}

/*styles*/
.wps .btn-insert
{
	border: 1px solid #4586d8;
	background: #4586d8;
	color: #fff;
}

.wps .btn-insert:hover
{
	border: 1px solid #5f9ce9;
	background: #5f9ce9;
}

.wps .btn-insert:active
{
	border: 1px solid #3e7dcd;
	background: #3e7dcd;
}


.et .btn-insert
{
	border: 1px solid #5ba532;
	background: #5ba532;
	color: #fff;
}

.et .btn-insert:hover
{
	border: 1px solid #75bf4c;
	background: #75bf4c;
}

.et .btn-insert:active
{
	border: 1px solid #4c8c2a;
	background: #4c8c2a;
}


.wpp .btn-insert
{
	border: 1px solid #e86e25;
	background: #e86e25;
	color: #fff;
}

.wpp .btn-insert:hover
{
	border: 1px solid #ff8742;
	background: #ff8742;
}

.wpp .btn-insert:active
{
	border: 1px solid #cc5f21;
	background: #cc5f21;
}

.demo-span-1
{
    position: relative;
    z-index: 1;
    vertical-align: top;
    left: 20px;
    top: 13px;
}

.demo-span-2
{
    position: relative;
    z-index: 1;
    top: 20px;
}

/**/
.dropdown:hover
{
	border: 1px solid #3b7aca !important;
}

.dropdown.active
{
	box-shadow: 0px 0px 5px #3b7aca;
}

.dropdown-span
{
	position: relative;
	top: 4px;
	left: 4px;
	cursor: default;
}

.dropdown-widget
{
	border: 1px solid #3b7aca;
	background: #fff;
}

.dropdown-billboard
{
	padding: 16px 24px 16px 24px;
}

.dropdown-billboard-content
{
	line-height: 24px;
	white-space: pre-wrap;
}

.dropdown-billboard-preview
{
	margin-top: 10px;
}

.dropdown-list
{
	background: #ebf3f8;
}

.dropdown-item
{
	color: #444;
	cursor: default;
	height: 28px;
	line-height: 28px;
}

.dropdown-item > span
{
	margin-left: 6px;
}

.dropdown-item:hover
{
	color: #444;
	background: #d4e5f4;
}

.dropdown-item.checked
{
	color: #fff;
	background: #3b7aca;
}